/* Basic Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121629;
    color: #ffff
}

header, nav, section, footer {
    padding: 20px;
}

header {
    background-color: #5264FF;
    color: #fff;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding-left: 400px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffff;
}

footer {
    background-color: #5264FF;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Main Content Styling */
.main-content {
    padding: 20px;
}

/* Add specific styles for different pages as needed */
/* Basic styling for buttons */
/* Basic styling for buttons */
.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #101634;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Change button style when hovered */
.button:hover {
    background-color: white;
    color: black;
}

/* Change button style when active (pressed) */
.button:active {
    background-color: white;
    color: black;
}


/* Centering the button grid */
.button-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    gap: 15px; /* Adjust spacing between buttons */
    margin-top: 150px; /* Adjust as needed */
    justify-items: center; /* Center horizontally */
}

/* Add media queries for responsiveness */

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    nav ul {
        padding-left: 0;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    footer {
        position: static;
    }

    .button-grid {
        margin-top: 50px;
    }
}
